:root {
  --text-color-h1: hsl(112, 63%, 16%);
  --text-color-h2: hsl(112, 62%, 28%);
  --text-color-label: hsla(126, 58%, 35%, 0.829);
  --heading-color: hsl(113, 22%, 37%);
  --heading-color-shadow: hsla(114, 86%, 36%, 0.692);
  --text-color-hover: hsl(117, 100%, 92%);
  --bg-color: hsla(125, 26%, 91%, 0.789);
  --button-color-hover: hsl(219, 58%, 25%);
  --featured-bg-color: hsl(111, 27%, 90%);
}

body {
  margin: 0;
  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size: 18px;
  /* bg pattern from = https://heropatterns.com/ */
  background-image: url("data:image/svg+xml,%3Csvg width='52' height='26' viewBox='0 0 52 26' xmlns='http://www.w3.org/2000/svg'%3E%3Cg fill='none' fill-rule='evenodd'%3E%3Cg fill='%239C92AC' fill-opacity='0.1'%3E%3Cpath d='M10 10c0-2.21-1.79-4-4-4-3.314 0-6-2.686-6-6h2c0 2.21 1.79 4 4 4 3.314 0 6 2.686 6 6 0 2.21 1.79 4 4 4 3.314 0 6 2.686 6 6 0 2.21 1.79 4 4 4v2c-3.314 0-6-2.686-6-6 0-2.21-1.79-4-4-4-3.314 0-6-2.686-6-6zm25.464-1.95l8.486 8.486-1.414 1.414-8.486-8.486 1.414-1.414z' /%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
  background-color: var(--bg-color);
}

header {
  text-align: center;
  background: var(--heading-color);
  padding: 8px;
  position: sticky;
  top: 0;
  box-shadow: 0 0 5px gray;
  z-index: 9999;
}

footer {
  text-align: center;
  background: var(--heading-color);
  margin-bottom: 0;
  box-shadow: 0 0 5px gray;
  margin-top: 50px;
}

h1 {
  color: var(--text-color-h1);
}

h2 {
  text-align: center;
  color: var(--text-color-h2);
}

p {
    color: white;
    font-size: 20px;
}

section p {
  color: black;
}

label {
  color: var(--text-color-label);
  font-weight: bold;
}

legend {
  font-weight: bold;
  margin-bottom: 20px;
  opacity: 0.7;
}

main {
  width: 90%;
  max-width: 1000px;
  margin: 0 auto;
  padding: 32px;
  background-color: white;
  box-shadow: 0 0 5px gray;
}

fieldset {
  margin: 30px;
}

hr {
  margin-bottom: 50px;
}

a {
  color: white;
  text-decoration: none;
}

a:hover {
  color: var(--text-color-hover);
  cursor: pointer;
  text-decoration: underline;
}

.pageTitle {
    float: right;
    font-size: 20px;
    opacity: .4;
}

footer {
    display: flex;
    justify-content: space-between;

    padding-left: 100px;
    padding-right: 100px;

    padding-bottom: 25px;
}

footer div a {
    display: block;
    margin: 2px;
}

footer div p, 
footer div a {
    font-size: 16px;
}

footer div p {
    line-height: 5px;
}

footer hr {
    color: rgb(255, 255, 255);
    margin-bottom: 15px;
}

h5 {
    padding-top: 20px;
    margin: 2px;
}

/* containers to get side by side divs to work */
.container {
  display: flex;   
  justify-content: space-between;
  align-items: center; 
  gap: 20px; 
  padding: 20px;
}

.text-div {
  flex: 3;     
}

.image-div {
  flex: 2;
}

img {
  max-width: 100%;
  height: auto;
  display: block;
  border: 4px solid var(--text-color-h1);
  box-shadow: 0 0 5px gray;
}


.map .image-div {
  display: flex;
  justify-content: center;
  margin: 0 auto 0 auto;
  width: 50%;
}

.map .image-div img {
  max-width: 700px;
  width: 100%;
  height: auto;
  border: 4px solid var(--text-color-h1);
  box-shadow: 0 0 5px gray;
}

figcaption {
  opacity: 0.5;
  text-align: right;
  font-style: italic;
  margin-top: 2px;
  font-size: 15px;
}

li {
    margin-bottom: 20px;
    font-size: 20px;
}

.featured {
    background-color: var(--featured-bg-color);
    padding: 20px;
    box-shadow: 0 0 3px gray;
    border-radius: 20px;
    margin: auto;
    width: 70%;
    transition: all 0.3s ease-in-out;
}

.featured:hover {
    transform: scale(1.03);
    box-shadow: 0 0 16px gray;
    cursor: pointer;
}

.featured p {
  text-align: center;
}

.featured-txt {
    font-size: 20px;
    opacity: 0.65;
    margin-right: 15px;
}

.return {
  margin-top: 0;
  color: black;
  opacity: 0.7;
}

.return:hover {
    color: black;
    cursor: pointer;
    text-decoration: underline;
    opacity: 1;
}